<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <script src="{% static "js/jquery.js" %}"></script>
</head>
<body>
<h1>Rango says...</h1>
<a href="/rango/add_category">Додати нову категорію</a><br/>
<div>
    hey there partner!<br/>
    <strong>{{ boldmessage }}</strong>
    <a href="{% url 'about' %}">About</a>
</div>
<div>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}


    <div>

    {% for i in most_liked_categories %}
        <li>
        <a href="/rango/category/{{ i.slug }}">{{ i.name }} - {{ i.likes }}</a>
        </li>
    {% endfor %}



    </div>

    <img src="{% static 'images/111.jpeg' %}" alt="Picture of monster">
    <img src="{{ MEDIA_URL }}222.jpg" alt="Picture of aCat."/>.

</div>
</body>
</html>